html {
    box-sizing: border-box;
    margin: 0;
    color: #ccc;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.cis260special {
    color: #800dbe
}

.quote {
    color: firebrick
}

.skates {
    color: darkorchid
}

.tutz {
    color: darkorange
}

.anything header {
    display: flex;
    flex-direction: column
}

@media screen and (max-width:40rem) {

    header {
        flex direction: column;
    }

}

a:hover {
    color: #aaa;
}


.body {
    flex-wrap: wrap
}


.body {
    flex-grow: <1>;
}


.color {
    color: aqua
}


@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px)
